
#navbar{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(183, 220, 253) !important;
    color: rgb(183, 220, 253) !important;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px black; 
}
.consulta-info.highlight {
    background-color: #f0f8ff; /* Exemplo de fundo claro */
    border: 2px solid #007bff;  /* Exemplo de borda azul */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5); /* Sombras para dar ênfase */
}

