#navbar{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(228, 247, 255, 0.829) !important;
    color: rgb(183, 220, 253) !important;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px black; 
}




